* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Marck Script', Arial, Verdana, sans-serif;
    font-size: 1.5vw;
}

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .toDoList {
        margin: 5vh 5vw;
        width: 40vw;
        height: 84vh;
        color: black;
        font-size: 1.4vw;
        text-align: center;
        background-image: url("../images/paper.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1 {
        margin-top: 4vh;
    }

    li {
        list-style: none;
    }

    button {
        margin: 1vw;
        padding: 0.2vw;
        background: transparent;
        color: black;
        box-shadow: none;
        width: 4vw;
        font-family: 'Marck Script', Arial, Verdana, sans-serif;
        font-size: 1.2vw;
    }

    input {
        background: transparent;
        font-family: 'Marck Script', Arial, Verdana, sans-serif;
        font-size: 1.2vw;
    }

    .clock {
        font-family: Arial, sans-serif;
        font-size: 2vw;
        margin: 5vh 5vw;
        width: 30vw;
        height: 50vh;
        background-image: url("../images/tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

p {
    margin-bottom: 10vh;
}

@media screen and (max-width: 900px) {

    .clock {
        margin: 7vh 7vw;
        width: 40vw;
        height:60vh;
        font-size: 3.5vw;
    }

    .toDoList {
        margin: 10vh 7vw;
        width: 40vw;
        height:75vh;
        font-size: 3vw;
    }

    button {
        width: 8vw;
        font-size: 2vw;
    }

    input {
        width: 16vw;
        font-size: 2vw;
    }

    h1 {
        margin-top: 7vh;
        font-size: 4.5vw;
    }

    p {
        margin-left: 0;
    }

    .pen {
        display: none;
    }
}

@media screen and (max-width: 450px) {

    .container {
        flex-direction: column;
    }

    .clock {
        background-size: contain;
        margin: 5vh 5vw;
        width: 50vw;
        height: 50vh;
        font-size: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .toDoList {
        background-size: cover;
        margin: 5vh 5vw;
        width: 80vw;
        height: 70vh;
        font-size: 5vw;

    }

    button {
        margin: 3vw;
        padding: 0.2vw;
        width: 16vw;
        font-size: 4vw;
    }

    input {
        font-size: 4vw;
        width: 26vw;
    }

    h1 {
        margin: 7vh;
        font-size: 7vw;
    }

    .pen {
        display: none;
    }
}